html,
body {
    height: 100%;
    font-family: 'Metrophobic', sans-serif;
}

#success{
    font-family: 'Metrophobic', sans-serif;
    height: 100%;
    background-image: url("../img/registerwall.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    height: 100%;
    align-content: center;
}

.card{
    animation-delay: 0.5s;
    padding: 20px;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}